@import "../../layout/precompile-data";

.page__header {
  padding: $space8 0;
  h2 {
    max-width: 850px;
    width: 100%;
  }
}

.section__header {
  text-align: center;
  border-bottom: 1px dashed var(--theme-color);
  padding: $space4 0;
  &.narrow {
    text-align: left;
    padding: $space2 0;
  }
  .inset {
    padding: 0;
  }
}
