* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

canvas:focus {
  outline: none;
}